<!--The content below is only a placeholder and can be replaced.-->

  <!-- <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<!-- <div class="div"> -->

   
    <form align="center" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <h4>Registraion</h4>
      <table align="center">
    <tr>
      <td>
      <div class="form-group">
        <caption>Full&nbsp;Name</caption>
        <input id="name" name="name" class="form-control"
        required minlength="4" appForbiddenName="bob"
        [(ngModel)]="data.name" #name="ngModel"/>
      </div>


      <div class="form-group">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger">
          <div *ngIf="name.errors.required">
            name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            name must be at least 4 characters long.
          </div>
         
        </div>
      </div>
      </td>

    <!-- date of borth -->
      <td>
          <div class="form-group">
              <caption>Date&nbsp;Of&nbsp;Birth</caption>
              <input type="date" id="dob" name="dob" class="form-control"
              required 
              [(ngModel)]="data.dob" #dob="ngModel"/>
            </div>
      
      
            <div class="form-group">
              <div *ngIf="dob.invalid && (dob.dirty || dob.touched)"
                  class="alert alert-danger">
                <div *ngIf="dob.errors.required">
                  date of birth is required.
                  
                </div>
              </div>
            </div>

      </td>
     </tr>
     <tr>
       <!-- email address -->
       <td>
         
         <div class="form-group">
            <caption>Email&nbsp;ID</caption>
            <input id="mail" name="mail" class="form-control" 
            required 
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            [(ngModel)]="data.mail" #mail="ngModel"/>
          </div>
    
    
          <div class="form-group">
            <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
                class="alert alert-danger">
              <div *ngIf="mail.errors.required">
                email id is required.
              </div>
              <div *ngIf="mail.errors.pattern">
                invalid email
              </div>

              </div>
          </div>

       </td>
       <!-- password -->
       <td>
          <div class="form-group">
              <caption>Phone&nbsp;No</caption>
              <input id="phone" name="phone" class="form-control"
              required minlength="10"
              [(ngModel)]="data.phone" #phone="ngModel"/>
            </div>
      
      
            <div class="form-group">
              <div *ngIf="phone.invalid && phone.touched"
                  class="alert alert-danger">
                <div *ngIf="phone.errors.required">
                  phone number is required.
                </div>
                  <div *ngIf="phone.errors.minlength">
                      phone must be at least 10 digits.
                    </div>
                </div>
              
            </div>
       </td>
     </tr>

     <tr>
      <td>
          <div class="form-group">
              <caption>Password</caption>
              <input type='password' id="password" name="password" class="form-control"
              required required minlength="8"
              [(ngModel)]="data.password" #password="ngModel"/>
            </div>
      
      
            <div class="form-group">
              <div *ngIf="password.invalid && password.touched"
                  class="alert alert-danger">
                <div *ngIf="password.errors.required">
                  password is required.</div>
                  <div *ngIf="password.errors.minlength">
                      name must be at least 8 characters long.
                    </div>
                </div>
                
                
            </div>
      </td>
      <!-- tell me about your self -->
      <td>
        <div clas="form-group">
          <caption>Tell&nbsp;About&nbsp;Your&nbsp;Self</caption>
          <textarea row="4" cols="21" id="tellme" name="tellme" class="form-control"
          required
          [(ngModel)]="data.tellme" #tellme="ngModel"></textarea>
        </div>

        <div class="form-group">
          <div *ngIf="tellme.invalid && (tellme.dirty || tellme.touched)"
            class="alert alert-danger">
          <div *ngIf="tellme.errors.required">
            about is required.
          </div>
          </div>
        </div>
      </td>
      </tr>
      <!-- select state -->
      <tr>
        <td>
            <div clas="form-group">
            <caption>Select&nbsp;state</caption>
            <select id="select" name="select" class="form-control"
            required 
            [(ngModel)]="data.select" #select="ngModel"> 
            
                <option>--select state--</option>
                <option>AndraPradhesh</option>
                <option>Telangana</option>
                <option>Tamilanadu</option>
              
            </select>
          </div>
            <div class="form-group">
                <div *ngIf="select.invalid && (select.dirty || select.touched)"
                  class="alert alert-danger">
                <div *ngIf="select.errors.required">
                  select is required.
                </div>
                </div>
              </div>

        </td>
        <!-- gender -->
        <td>
            <div class="form-group">
                <caption>Gender</caption>
                male<input type="radio" name="gender" value="male" class="form-control" required 
                [(ngModel)]="data.gender" #gender="ngModel" >&nbsp;
                female<input type="radio" name="gender" value="female" class="form-control"
                required 
                [(ngModel)]="data.gender" #gender="ngModel"/>
              </div>
        
        
              <div class="form-group">
                <div *ngIf="gender.invalid && (gender.dirty || gender.touched)"
                    class="alert alert-danger">
                  <div *ngIf="gender.errors?.required">
                    please select gender.
                  </div>
                  </div>
              </div>
    
        </td>
     </tr>
      </table><br>
      <div class="form-group">
          
          <input type="checkbox" id="check" name="check" class="form-control"
          required 
          [(ngModel)]="data.check" #check="ngModel"/>Terms & Condition
        </div>

<br>
        
            <button align="center" type="submit" 
            [disabled]="f.form.pristine || f.form.invalid">
            Submit
          </button>
          
  </form>
  



<router-outlet></router-outlet>
